@import "variables";


/*Common styles*/

*{
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  height: 100%;
  font-family: $font-family;
}

a, div, span, svg use, ul li {
  transition: 0.3s;
}

a {
  &:hover{
    text-decoration: none;
  }
}

ul {
  padding: 0;
  margin: 0;

  li {
    padding: 0;

    list-style: none;
  }
}

.container {
  margin: auto;
  padding: 0 15px;

  box-sizing: border-box;

  @media screen and(min-width: 992px){

    max-width: 970px;
  }

  @media screen and(min-width: 1200px){

    max-width: 1170px;
  }


}


.header-tw {
  &__inner {

  }

  &__top {
    padding: 5px 0 10px;

    background: #EB5E1F;

    &-inner {
      width: 68%;
      margin-right: 0;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and(max-width: 991px){
        width: 100%;
      }

      @media screen and(max-width: 650px){
        display: block;
      }
    }

    &-menu {
      @media screen and(max-width: 991px){
        margin-bottom: 5px;
        text-align: center;
      }

      li {
        padding: 0 20px;
        display: inline-block;
        vertical-align: middle;

        @media screen and(max-width: 991px){
          padding: 0 5px 0 0;
        }

        @media screen and(max-width: 450px){
          padding: 0 1px 0 0;
        }


        a {
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          text-transform: uppercase;
          color: $white;
          text-decoration: none;
        }
      }
    }

    &-link {
      display: inline-flex;
      align-items: center;

      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $white;
      text-decoration: none;

      img {
        margin-right: 5px;
      }

      @media screen and(max-width: 991px){
        justify-content: flex-end;
        display: flex;
      }
    }
  }

  &__main {
    @media screen and(max-width: 991px){
      padding: 10px 0;
    }

    &-toggler {
      display: none;

      @media screen and(max-width: 991px){
        display: block;

        span {
          width: 25px;
          height: 3px;
          display: block;
          margin-bottom: 3px;

          background: $black;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and(max-width: 991px){
        position: relative;
      }
    }

    &-logo {
      display: block;
    }

    &-menu {
      width: calc(100% - 130px);

      @media screen and(max-width: 991px){
        display: none;
        width: 100%;

        position: absolute;
        top: 50px;
        left: 0;
        z-index: 2;

        background: #EAEAEA;

        .open & {
          display: block;
        }
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: relative;

        @media screen and(max-width: 991px){
          display: block;
        }

        li {
          display: inline-block;
          vertical-align: middle;

          &.op {
            .drop {
              display: block;
            }

            .ar {
              transform: rotate(180deg);
              top: 1px;
            }
          }

          @media screen and(max-width: 991px){
            display: block;

            position: relative;
          }

          .ar {
            display: none;

            @media screen and(max-width: 991px){
              display: inline-block;

              position: relative;
              top: 6px;
            }
          }

          & > a {
            padding: 20px 25px;

            display: inline-flex;
            align-items: center;
            justify-content: center;

            position: relative;

            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            color: #000000;
            text-decoration: none;


            @media screen and(min-width: 1200px){
              white-space: nowrap;
            }

            @media screen and(max-width: 991px){
              padding: 10px 5px 10px 15px;

              img {
                display: none;
              }
            }

            &:after {
              content: '';
              width: 1px;
              height: 14px;
              display: block;

              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              z-index: 2;

              background: rgba(0, 0, 0, 0.1);
              border-radius: 2px;

              @media screen and(max-width: 991px){
                display: none;
              }
            }

            img {
              position: relative;
              top: 2px;

              margin-left: 3px;
            }
          }


          &:last-of-type {
            & > a {
              &:after {
                display: none!important;
              }
            }
          }


          @media screen and(min-width: 991px){
            &:hover {
              a {
                background: #EAEAEA;

                &:after {
                  display: none;
                }
              }

              .drop {
                display: flex;
              }
            }
          }

          .drop {
            display: none;
            width: 100%;
            padding: 30px 30px 0;
            align-items: flex-start;

            position: absolute;
            top: 55px;
            left: 0;
            z-index: 3;

            background: #EAEAEA;
            box-sizing: border-box;

            @media screen and(max-width: 1200px){
              top: 65px;
            }

            @media screen and(max-width: 991px){
              position: relative;
              padding: 0 15px 0 30px;
              top: 0;
            }

            &-col {
              width: 33.333%;
            }

            &-item {
              display: table;
              margin-bottom: 35px;

              font-weight: 700;
              font-size: 14px;
              line-height: 16px;

              color: #000000!important;
              text-decoration: none;

              & + .drop-item_small {
                margin-top: -20px;

                @media screen and(max-width: 991px){
                  margin-top: 0;
                }
              }

              @media screen and(max-width: 991px){
                margin-bottom: 20px;
              }

              &_small {
                margin-bottom: 30px;

                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: rgba(0, 0, 0, 0.7)!important;
                text-transform: inherit;

                @media screen and(max-width: 991px){
                  margin-bottom: 15px;
                }

                &:hover {
                  color: #EB5E1F!important;
                }
              }

              &:hover {
                color: #EB5E1F!important;
              }
            }

            /*&-list {
              width: 33%;

              @media screen and(max-width: 991px){
                width: 100%;
                margin-bottom: 20px;
              }

              & + .drop-all {
                width: calc(100% - 33%);

                .drop-all-item {
                  width: 50%;
                }
              }

              &-title {
                margin-bottom: 10px;

                font-weight: 700;
                font-size: 14px;
                line-height: 16px;

                color: #000000;
              }

              ul {
                display: block;

                li {
                  margin-bottom: 5px;
                  display: block;

                  &:after {
                    display: none;
                  }

                  a {
                    padding: 0;

                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    color: rgba(0, 0, 0, 0.7);
                    text-transform: inherit;

                    &:after {
                      display: none;
                    }

                    &:hover {
                      color: #EB5E1F;
                    }
                  }
                }
              }
            }

            &-all {
              width: 100%;

              display: flex;
              flex-wrap: wrap;

              @media screen and(max-width: 991px){
                width: 100%;
                display: block;
              }

              &-item {
                margin-bottom: 25px;
                width: 33.333%;
                display: block;

                font-weight: 700;
                font-size: 14px;
                line-height: 16px;

                color: #000000;
                text-decoration: none;

                @media screen and(max-width: 991px){
                  width: 100%;
                }

                &:hover {
                  color: #EB5E1F;
                }
              }
            }*/
          }
        }
      }
    }
  }
}
